*~
*.out
*.lnk
.DS_STORE
232.04.Lab.100/LabLinkedList.xcodeproj/project.xcworkspace/xcuserdata/ehrrsn7.xcuserdatad/UserInterfaceState.xcuserstate
232.05.Lab.100/LabList.xcodeproj/project.xcworkspace/xcuserdata/ehrrsn7.xcuserdatad/UserInterfaceState.xcuserstate
