# binary/build files
*~
*.out
*.lnk
*.db

# ide specific
.DS_STORE
.vs/
.vscode/
x64/
xcuserdata/
*.xcuserstate


232.04.Lab.100/LabLinkedList.xcodeproj/project.xcworkspace/xcuserdata/ehrrsn7.xcuserdatad/UserInterfaceState.xcuserstate
232.05.Lab.100/LabList.xcodeproj/project.xcworkspace/xcuserdata/ehrrsn7.xcuserdatad/UserInterfaceState.xcuserstate
232.07.Lab.100/.vs/LabBST/v17/Browse.VC.db
232.07.Lab.100/.vs/LabBST/v17/ipch/AutoPCH/a7f43098f9b5c294/TESTBST.ipch
232.07.Lab.100/.vs/LabBST/v17/Browse.VC.db
